@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary-color: #eec643;
  --secondary-color: #302f2f;
  --accent-color: #434246;
  --text-color: #eef0f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  background-color: var(--secondary-color);
  font-family: "Montserrat", sans-serif;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}
